.dialogify {
    display: none;
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 1100px;
    min-width: 360px;
    max-height: 100vh;
    background-color: #fff;
    font-size: 14px;
    color: #464646;
    border: none;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.05), 0 2px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    padding: 0;
    line-height: 100%;

    &[open] {
        display: block;
    }

    &.fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.pixel-style:before {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        bottom: 9px;
        left: -9px;
        right: -9px;
        background: #FFF;
        z-index: -1;
    }
    &.pixel-style:after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: -5px;
        right: -5px;
        background-color: #FFF;
        background-image: url(../forum/box-corner.png);
        background-repeat: no-repeat;
        background-position: -17px 100%;
        z-index: -1;
    }
    &>div {
        //background-image: url(../dialog/box-corner.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0; //background-image: url(../dialog/box-corner.png);
            width: 20px;
            height: 21px;
            transform: rotate(90deg);
            background-size: 20px;
            background-repeat: no-repeat;
            opacity: 0.7;
        }
        hr {
            border: none;
            height: 1px;
            background: #E0E6E8;
        }
    }
    .dialogify__body {
        min-height: 70px;
        zoom: 1;
        &:after {
            clear: both;
            content: '.';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
    .dialogify__content {
        padding: 22px 28px 20px 25px;
        box-sizing: border-box; 
        //overflow: scroll;
    }
    .dialogify__content-box {
        margin: 20px auto;
    }
    .dialogify__maxheight {
        max-height: 400px;
        overflow-y: scroll;
    }
    .dialogify__autowidth {
        max-width: 1100px;
        min-width: 560px;
    }
    .dialogify__fixedwidth {
        max-width: 560px;
    }
    .dialog__maxheight {
        max-height: 400px;
        overflow-y: scroll;
    }
    .dialogify__close {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #00555f;
        img {
            width: 16px;
            height: 16px;
            opacity: 0.85;
        }
        &:hover img {
            opacity: 1;
        }
    }
    img.dialogify-ajax-loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateX(-50%);
    }
    a:focus {
        outline: none;
        text-decoration: none;
    }
    .btn-danger {
        box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
    }
    .btn-box {
        margin-top: 20px;
        clear: both;
        .btn-insert {
            margin-left: 8px;
            margin-right: 3px;
        }
        .check-group {
            float: left;
            margin-top: 8px;
        }
        .check-group input[type="checkbox"]+label {
            h6 {
                font-size: 13px;
                color: #A6A6A6;
            }
            a {
                color: #117e96;
                &:hover {
                    color: #126e7d;
                    text-decoration: none;
                    transition: all 0.3s;
                }
            }
        }
        .float-left {
            margin-left: 0;
        }
        .float-left a {
            margin-left: 0;
        }
        .post__text-small {
            font-weight: normal;
        }
    }

    .link-form__actions {
        margin-top: 10px;
        float: right;
        width: 100%;
    }

    .btn {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 5px 12px;
        height: auto;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #e5e5e5;
        color: #A6A6A6;
        outline: none;
        text-decoration: none;
        &:hover {
            background: #dcdcdc;
            color: #A6A6A6;
        }
        &.is-disabled {
            opacity: 0.5;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
            cursor: not-allowed!important;
            &:hover {
                animation: 300ms shake;
            }
        }
        @keyframes shake {
            0% {
                transform: rotate(1.5deg);
            }
            50% {
                transform: rotate(-2deg);
            }
            70% {
                transform: rotate(1.5deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        &.btn-primary {
            background-color: #117e96;
            color: #FFF;
            &:hover {
                background-color: #126e7d;
            }
        }
        &.btn-danger {
            background-color: #f44336;
            color: #FFF;
            &:hover {
                background: #DE2427;
            }
            &.is-disabled:hover {
                background-color: #f44336;
            }
        }
    } //標題
    h5.dialogify_title {
        font-size: 18px;
        color: #00555f;
        margin: 0 0 15px;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", sans-serif;
        font-weight: normal;
        img {
            width: 12px;
            height: 10px;
            position: relative;
            top: -2px;
            margin-right: 3px;
        }
    }

    hr {
        background: #E0E6E8;
        border: none;
        height: 1px;
        width: 100%;
        margin-bottom: 15px;
    } //排版
    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    } 
    //輸入框
    .text-field {
        margin: 10px 0;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        background-color: #FFF;
        font-size: 14px;
        color: #00555f;
        &:hover,
        &:focus {
            outline: none;
            border-color: #117e96;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder,
        &::-moz-placeholder {
            color: #B3B3B3;
        }
        &.is-error {
            border-color: #DE2427;
            color: #DE2427;
        }
    }

    textarea.text-field {
        resize: none;
        min-height: 100px;
        line-height: 1.5;
        font-size: 14px;
    }
}

dialog::backdrop {
    background: #000;
    opacity: .7;
}

dialog+.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
}