@charset "UTF-8";
.dialogify {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  max-width: 1100px;
  min-width: 560px;
  background: #fff;
  font-size: 14px;
  color: #464646;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.05), 0 2px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 0;
}

.dialogify:not([open]) {
  display: none;
}

.dialogify.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dialogify.pixel-style {
  border-radius: 0;
}

.dialogify.pixel-style:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: -9px;
  right: -9px;
  background: #FFF;
  z-index: -1;
}

.dialogify.pixel-style:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -5px;
  right: -5px;
  background-color: #FFF;
  background-image: url(../img/pixel-corner.png);
  background-repeat: no-repeat;
  background-position: -17px 100%;
  z-index: -1;
}

.dialogify > div {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.dialogify > div:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 21px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-size: 20px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.dialogify > div hr {
  border: none;
  height: 1px;
  background: #E0E6E8;
}

.dialogify .dialogify__content {
  padding: 20px 25px;
  box-sizing: border-box;
}

.dialogify .dialogify__content-box {
  margin: 20px auto;
}

.dialogify .dialogify__maxheight {
  max-height: 400px;
  overflow-y: scroll;
}

.dialogify .dialogify__autowidth {
  max-width: 1100px;
  min-width: 560px;
}

.dialogify .dialogify__fixedwidth {
  max-width: 560px;
}

.dialogify .dialogify__autowidth {
  max-width: 1100px;
  min-width: 560px;
}

.dialogify .dialogify__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #00555f;
}

.dialogify .dialogify__close img {
  width: 18px;
  opacity: 0.85;
}

.dialogify .dialogify__close:hover img {
  opacity: 1;
}

.dialogify .js-close.btn-danger {
  box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.dialogify .btn-box {
  margin-top: 20px;
  clear: both;
}

.dialogify .btn-box .btn-insert {
  margin-left: 8px;
  margin-right: 3px;
}

.dialogify .btn-box .check-group input[type="checkbox"] + label h6 {
  font-size: 13px;
  color: #A6A6A6;
}

.dialogify .btn-box .check-group input[type="checkbox"] + label a {
  color: #117e96;
}

.dialogify .btn-box .check-group input[type="checkbox"] + label a:hover {
  color: #126e7d;
  text-decoration: none;
  transition: all 0.3s;
}

.dialogify .btn-box .float-left a {
  margin-left: 0;
}

.dialogify .btn-box .btn-insert {
  margin-left: 8px;
  margin-right: 3px;
}

.dialogify .link-form__actions {
  margin-top: 10px;
  float: right;
  width: 100%;
}

.dialogify .btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px 12px;
  height: auto;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #e5e5e5;
  color: #A6A6A6;
}

.dialogify .btn:hover {
  background: #dcdcdc;
  color: #A6A6A6;
}

.dialogify .btn.is-disabled {
  opacity: 0.5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: not-allowed !important;
}

.dialogify .btn.is-disabled:hover {
  -webkit-animation: 300ms shake;
          animation: 300ms shake;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  70% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  70% {
    -webkit-transform: rotate(1.5deg);
            transform: rotate(1.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.dialogify .btn.btn-primary {
  background-color: #117e96;
  color: #FFF;
}

.dialogify .btn.btn-primary:hover {
  background-color: #126e7d;
}

.dialogify .btn.btn-danger {
  background-color: #f44336;
  color: #FFF;
}

.dialogify .btn.btn-danger:hover {
  background: #DE2427;
}

.dialogify .btn.btn-danger.is-disabled:hover {
  background-color: #f44336;
}

h5.dialogify_title {
  font-size: 18px;
  color: #00555f;
  margin-bottom: 15px;
}

h5.dialogify_title img {
  position: relative;
  top: -2px;
  margin-right: 3px;
}

h5.dialogify_title .post__text-small {
  position: relative;
  top: 1px;
  margin-left: 10px;
  margin-top: 0;
  vertical-align: bottom;
  font-size: 12px;
  color: #A6A6A6;
  font-weight: normal;
}

h5.dialogify_title .post__text-small:hover {
  color: #126e7d;
  text-decoration: none;
  transition: all 0.3s;
}

h5.dialogify_title .post__text-small img {
  position: relative;
  width: 13px;
  margin-right: 3px;
}

::-webkit-backdrop {
  background: #000;
  opacity: .7;
}

::backdrop {
  background: #000;
  opacity: .7;
}

.dialogify + .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  z-index: 1;
}

._dialog_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**************************************
 燈箱共用內容樣式
**************************************/
.dialogify .text-right {
  text-align: right;
}

.dialogify .text-center {
  text-align: center;
}

.dialogify .text-left {
  text-align: left;
}

.dialogify .float-left {
  float: left;
}

.dialogify .float-right {
  float: right;
}

.dialogify .form-control {
  margin: 10px 0;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFF;
  font-size: 14px;
  color: #00555f;
}

.dialogify .form-control:hover, .dialogify .form-control:focus {
  outline: none;
  border-color: #117e96;
}

.dialogify textarea.form-control {
  resize: none;
  min-height: 100px;
  line-height: 1.5;
  font-size: 14px;
}

.dialogify .check-box li {
  position: relative;
  margin: auto;
  padding: 5px 0px;
}

.dialogify .check-box li:first-child {
  padding-top: 0;
}

.dialogify .check-group {
  display: inline-block;
  min-width: 18px;
  min-height: 16px;
}

.dialogify .check-group input[type="checkbox"] {
  display: none;
  vertical-align: middle;
}

.dialogify .check-group input[type="checkbox"] + label .label-icon {
  display: inline-block;
  position: relative;
  padding: 2px 0 0;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  background: #fbfbfb;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  color: transparent;
  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px white;*/
  cursor: pointer;
  transition: all .2s;
  z-index: 2;
  vertical-align: text-top;
}

.dialogify .check-group input[type="checkbox"] + label h6 {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  vertical-align: top;
  color: #464646;
  white-space: nowrap;
  margin: 0 0 0 3px;
}

.dialogify .check-group input[type="checkbox"]:checked + label .label-icon {
  background-color: #11AAC1;
  border-color: #11AAC1;
  color: #FFF;
  box-shadow: none;
}

.dialogify .check-group input[type="checkbox"]:disabled + label {
  cursor: not-allowed;
}

.dialogify .check-group input[type="checkbox"]:disabled + label .label-icon {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  opacity: 0.55;
  pointer-events: none;
}

.dialogify .check-group input[type="checkbox"]:disabled + label h6 {
  opacity: 0.55;
}

.dialogify .check-group label {
  cursor: pointer;
}

.dialogify .check-group label .label-icon i {
  margin-left: 0;
  vertical-align: top;
}

.dialogify .check-group label.is-active .label-icon {
  background-color: #11AAC1;
  color: #FFF;
  box-shadow: none;
}

/*# sourceMappingURL=dialog.css.map */
